@use './mixin' as *;

/*===============================================
================ UTILITY CLASSES ================
=================================================*/
//================ Colors ================//

//=========== Display ============
.container {
  margin-inline: auto;
  padding-inline: var(--padding-base, 1rem);
  max-width: clamp(90%, 66.667%, 60rem);
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
