@use './mixin' as *;

/*===============================================
================== VARIABLE =====================
=================================================*/
:root {
  // --ff-primary: ;
  // --fs-primary: ;

  // --bg-primary: ;
  // --clr-primary: ;

  --padding-base: 1rem;
  --transition-time: 350ms;
  --transiiton-func: ease-in-out;
}
