@use '../mixin' as *;

body {
  display: grid;
  place-content: center;
  background-color: var(--clr-blue-30);
  font-size: var(--fs-body);
  color: var(--clr-blue-90);
  font-weight: var(--fs-regular);
}
